<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    button{
      margin: 10px;
    }
    @media (min-width: 890px)
    {
      footer {
        height: 80px;
        text-align: center;
        line-height: 80px;
        position: fixed;
        width: 100%;
        bottom: 0;
      }
    }
  </style>
  <title>Welcome - Quiz Web App</title>
</head>
<body>
<div class="text-center mt-5">
</div>

<!--index-->
<div class="main-container container py-5 px-4">
  <div class="image-box">
    <img th:src="@{/images/exam.svg}" alt="image">
  </div>
  <div class="text-box">
    <h1 class="mb-5 text-center">Welcome</h1>
    <div class="card bg-dark py-5 px-4">
    <button type="button" class="btn btn-warning" onclick="window.location.href='signin'">Login</button>
    <button type="button" class="btn btn-warning" onclick="window.location.href='register'">Register</button>
    </div>
  </div>
</div>
<!--index end-->


<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
