<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Quiz Web App | New password</title>
    <style>
        .main-container {
            display: flow;
        }
        @media (min-width: 890px)
        {
            footer {
                height: 80px;
                text-align: center;
                line-height: 80px;
                position: fixed;
                width: 100%;
                bottom: 0;
            }
        }
    </style>
</head>
<body>
<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

<!-- Main Container Start -->
<div class="main-container container py-5 px-4">
    <div class="text-box">
        <h1 class="mb-5 text-center">New Password</h1>
        <div class="card bg-dark py-5 px-4">

            <form action="#" method="post" th:action="@{/new_pass}">
                <div class="form-group">
                    <p>Password</p>
                    <input class="form-control" name="password" placeholder="Enter new password" required type="password">
                    <p>*Re-Enter Password</p>
                    <input class="form-control" name="re_password" placeholder="Re-Enter new password" required type="password">
                </div>

                <div class="text-center">
                    <button class="btn btn-warning" type="submit">Save Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>